{% extends 'base.html' %}


{% block style %}
<style>
      a{
            all: unset;
      }
      i:hover{
            color: #ffffff;
            transform: scale(1.5);
            cursor: pointer;
      }
      h1:hover{
           transform: scaleY(1.1);
      }

</style>
{% endblock style %}



{% block body %}



<div class="container mt-5 col-md-8">

      <div class="jumbotron" style="background-color: #737FE1; color: #ffffff;">
            <h1 class="display-4">QuizBuzz</h1>
            <p class="lead">We are a team of passionate professionals dedicated to providing the best quiz experience to our
                  users.</p>
            <hr class="my-4">
            <p>With years of experience and expertise, we are committed to delivering outstanding  learning experience through quizzes.</p> <br>
            
            <div class="d-flex justify-content-around">
                  <a href="https://www.linkedin.com/showcase/fynd-academy/"><i class="fab fa-linkedin fa-lg"></i></a>
                  <a href="https://www.instagram.com/fyndacademy/"><i class="fab fa-instagram fa-lg"></i></a>
                  <a href="https://twitter.com/AcademyFynd/"><i class="fab fa-twitter fa-lg"></i></a> 
                  <a href="https://www.facebook.com/people/Fynd-Academy/100076797579485/"><i class="fab fa-facebook fa-lg"></i></a> 
            </div>
            <br>
            <p class="text-center">Connect to us on our Social Handles.</p>
                  

                  
      </div>

</div>



{% endblock body %}







{% block script %}
<script>


</script>
{% endblock script %}